body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 0; 
    padding: 0;
    background-color: #f9f9f9;
    color: #0d0d0d;
}

h1, h2 {
    color: #6a1b9a;
    font-family: playwrite;
}

/* Introduction Section */
#introduction {
    text-align: center;
    padding: 20px;
    background-color: #f3e5f5;
}

.introduction_image {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.introduction_greeting {
    font-size: 1.2em;
    color: #0d0d0d;
}

/* Skills Section */
#skills {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
}

#skills h2 {
    border-bottom: 2px solid #6a1b9a;
    padding-bottom: 10px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background: #6a1b9a;
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.about_skills {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.4;
}

.about_skills .dotinha {
    font-weight: bold;
    color: #d81b60;
}

/* Projects Section */
#projects {
    padding: 20px;
    background-color: #f3e5f5;
    margin: 20px 0;
}

/* Contact Section */
#contact {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
}

#contact h2 {
    border-bottom: 2px solid #6a1b9a;
    padding-bottom: 10px;
}

#contact p {
    margin: 10px 0;
}

#contact a {
    color: #6a1b9a;
    text-decoration: none;
}

#contact a:hover{
    text-decoration: underline;
}

#contact span.redes {
    color:#6a1b9a;
    font-weight: bold;
}
/* Horizontal Rule */
hr {
    border: 0;
    height: 3px;
    background: #6a1b9a;
    margin: 20px 0;
}